.header-content {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}

.header-start {
    display: flex;
    align-items: center;
    gap: 24px;
}

#mainContainer {
    box-sizing: border-box;
    padding: 32px;
    width: 100%;
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.footer-content {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}