.header-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.header-start {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main-content {
    height: 100%;
}

#mainContainer {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
}

.footer-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}