.header-img {
    height: 40px;
}

#pokeSearch {
    height: 32px;
    width: 360px;
    border-radius: 12px;
    border: none;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.801);
}

.footer-img {
    height: 48px;
    mix-blend-mode: multiply;
}

.footer-img:hover {
    cursor: pointer;
}