.bg_grass {
    background-color: green;
}

.bg_fire {
    background-color: red;
}

.bg_water {
    background-color: blue;
}

.bg_normal {
    background-color: lightgray;
}

.bg_electric {
    background-color: yellow;
}

.bg_rock {
    background-color: slategrey;
}

.bg_ground {
    background-color: brown;
}

.bg_fighting {
    background-color: bisque;
}

.bg_flying {
    background-color: lightskyblue;
}

.bg_bug {
    background-color: greenyellow;
}

.bg_poison {
    background-color: purple;
}

.bg_ghost {
    background-color: black;
}

.bg_dragon {
    background-color: gold;
}

.bg_ice {
    background-color: lightblue;
}

.bg_psychic {
    background-color: violet;
}