#bigPokemonCard {
    height: 800px;
    width: 600px;
    box-sizing: border-box;
    padding: 0;
}

.big-pokemon-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.big-card-top {
    height: 50%;
    width: 100%;
    display: flex;
}

.big-card-bottom {
    background: linear-gradient(90deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%);
    height: 50%;
    width: 100%;
    display: flex;
}