@media (max-width: 700px) {
    .header-content {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }

    header {
        height: 160px;
    }

    .header-content-wrapper {
        height: 160px;
    }

    .main-content {
        margin: 16px;
    }

    #pokeSearch {
        width: 100%;
    }

    #bigPokemonCard {
        height: 600px;
        width: 400px;
    }

    .big-card-img {
        height: 240px;
    }

    .tab-bar {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .tab-content {
        padding: 0 18px;

    }

    .stats-tab-box-left {
        gap: 6px;
    }

    .stats-tab-box-right {
        gap: 6px;
    }

    .big-card-bottom-btn-box {
        padding: 4px 18px;
    }

    .big-card-bottom-btn {
        height: 40px;
        width: 60px;
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    #bigPokemonCard {
        height: 450px;
        width: 280px;
    }

    .big-card-img {
        height: 160px;
    }

    .tab-bar {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .tab-btn {
        font-size: 14px;
    }

    .tab-content {
        padding: 6px 12px;
    }

    .big-card-bottom-btn-box {
        padding: 6px 6px;
    }

    .big-card-bottom-btn {
        height: 20px;
        width: 60px;
        font-size: 12px;
    }
}