/* body parts*/
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: radial-gradient(ellipse 120% 120% at 50% 50%, #2244ff 0%, #000099 100%);
}

.header-content-wrapper {
    display: flex;
    max-width: 1440px;
    width: 100%;
}

.content-wrapper {
    display: flex;
    max-width: 1440px;
    width: 100%;
}

.footer-content-wrapper {
    display: flex;
    max-width: 1440px;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 1px 1px black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    box-shadow: 0 -1px 1px 1px black;
    z-index: 2;
}

/* elements */
a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

a:hover {
    cursor: pointer;
}

p {
    margin: 0;
}