.small-pokemon-card {
    border: black solid;
    height: 250px;
    width: 250px;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.small-card-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.small-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.small-card-sprite {
    height: 120px;
}

.small-card-types {
    border-radius: 12px;
    border: black solid;
    font-size: 24px;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}